/*PC*/
@media (min-width: 1024px) {
    
}

/*Tablet and mobile*/
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }
}

/*Mobile*/
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    #header {
    overflow: hidden;
    }
    
    #nav,
    #nav > li {
        display: block;
    }

    #nav li:nth-child(1) {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: rgb(54, 52, 52);
    }
    
    #nav .subnav a {
        padding: 5px 43px;
        color: white;
    }

    #header .menu-btn {
        display: block;
    }
    
    #header .search-btn {
        display: none;
    }

    #content .member-img {
        width: 60%;
    }

    #slider .text-content {
        font-size: 15px;
    }

    #slider .text-description {
        padding-top: 10px;
    }

    #footer .social a {
        padding-right: 10px;
    }

    #footer .copyright a {
        display: inline-block;
        padding-top: 10px;
    }
}