/*PC*/
@media (min-width: 1024px) {
    
}

/*Tablet*/
@media (min-width: 740px) and (max-width: 1024px) {

}

/*Mobile*/
@media (max-width: 740px) {
    .s-col-full {
        width: 100%;
    }

    #header {
    overflow: hidden;
    }
    
    #nav,
    #nav > li {
        display: block;
    }

    #nav li:nth-child(1) {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: rgb(54, 52, 52);
    }
    
    #nav .subnav a {
        padding: 5px 43px;
        color: white;
    }

    #header .menu-btn {
        display: block;
    }
    
    #header .search-btn {
        display: none;
    }

    #content .member-img {
        width: 60%;
    }
}